/* Breadcrumbs */

#inputProgressWrapper {
	min-width: 830px;
}

#inputProgress {
	padding-top: 10px;
	height: 100px;
	text-align: center;
	list-style-type: none;
	margin: 0px;
	position: relative;
	float: left; 
	display: block;
	left: 50%;
}
#inputProgress li {
	position: relative;
	text-align: center;
	font-size: 3em;
	 float: left;
	display: block;
	right: 50%;
	margin: 5px 0px;
	padding: 10px 0px;

}

#inputProgress li.stage {
	border-bottom: 3px solid #ccc;
	color: #ccc;
}

#inputProgress li.active {
	border-color: black;
	color: black;
}

#inputProgress span {
	font-size: 10px;
	text-align: center;
	margin: 10px auto 5px auto;
	display: block;
}

#inputProgress .incomplete span {
	color: red;
}

#inputProgress li.arrow {
	margin: 0px;
	padding: 0px;
	color: #ccc;
}


/* Carousel */

#inputCarousel {
	border: 1px solid black;
	height: 700px;
	padding: 30px 0px;
	min-width: 830px;
	background-color: #222;
	max-width: 1024px;
	margin: 0 auto;
	overflow: auto;
}

#inputCarousel .item {
	border: 1px solid red;
	width: 90%;
	margin: 20px auto;
	height: 600px;
}

.carousel-indicators .active {
	background-color: #fff;
}
.carousel-indicators li {
	background-color: #999;
}

#inputCarousel h2 {
	text-align: center;
}

.carousel-control.left {
	transition: none;
}

#metaDataForm {
	width: 50%;
	float: left;
}

#comboData {
	overflow: hidden;
}

#inputCarousel .item {
	min-height: 600px;
	background-color: #fff;
}

.loading {
	font-size: 100px;
	color: white;
}

/* combo data */

#metaDataForm{
	z-index: 5;
	width: 400px;
	position: relative;
}

#charImg {
	width: 80%;
	float: left;
	height: 500px;
	background-image: url('../img/characters/aigis_full.png');
	background-size: contain ;
	background-repeat: no-repeat;
	margin: 10px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-position: right bottom;
	pointer-events: none;
	z-index: 0;
	text-align: right;
}


#charImg.loading .icon-spinner {
	font-size: 2em;
	color: black;
	position: absolute;
	bottom: 50px;
	right: 50px;
}
/* Move Input */




#textMoveInput {
	clear: both;
	float: left;
}

#textMoveInput textarea {
	resize: none;
	width: 100%;
	margin-top: 10px;
}

#container-gamepad {
	clear: both;
}

#moveList {
	position: absolute; 
	height: 550px;
	float: right;
	right: 0px;
}

#previewMove {
	margin: 0px;
	padding-left: 0px;
}

.singleMove {
	list-style-type: none;
	margin: 0px;
	height: 50px;
}

.singleMove.preview  .icon-trash{
	display: none;
}

.singleMove.preview {
	margin-bottom: 10px;
	border: 3px solid black;
	background-color: #eee;
	padding-right: 40px;
}

.moveText {
	height: 30px;
}

.moveImg {
	height: 30px;
}

#moves {
	max-height: 375px;
	overflow-y: scroll;
}