table{
	border-collapse: collapse;
}

#data {
	min-width: 480px;
}

#data tbody tr:hover td, #data tbody tr:hover th {
    background-color: #FFFF99;
}

#pageSurround{
	position:relative;
	top:10%;
}
 
#dataSurround{
	border:solid 5px black;
	position:relative;
	padding:5px;
	left:18%;
	width:75%;
	height:80%;
	min-height:470px;
}

#allchars{
	font-weight: bold;
}

#data{
	width:100%;
}

#data .char-port {
	float: left;
	margin-right: 5px;
}

.comboCol{
	width:22%;
	overflow:hidden;
}

#bottomBar{
	position:relative;
	width:100%;
}

#topRow{
	padding:30px;
}

.imgMoves{
	display:inline;
	width:20px;
	height:20px;
}

#fillerComboPageContainer{
	padding:20px;
}

#fillerPageContentContainer{
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: #E0E0E0;
	padding:20px;
}

.imgDisplay{
	display:inline;
	width:40px;
	height:40px;
}

.fillerPageBorder{
	border: 2px solid black;
	padding:10px;
}

.topBar{
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding:20px;
	background-color:#E0E0E0;
}

#fillerMetadata{
	font-size:2em;
}

#fillerMetadata div{
	padding:10px;
}


/* Sidebar */

#sidebar-nav {
	padding: 20px 5px;
}

#sidebar-nav li {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #eee;
}

#allchars {
	background-color: white;
	border-top: 1px solid #ddd;
}

#allchars p {
	height: 20px;
}


.side p {
	height: 40px;
	padding: 0px 5px;
}

.side div {
  height: 60px;
}

.side div div {
  float: left;
}

.side, .side > p {
	overflow: hidden;
	font-size: 1.2em;
	margin: 0px;
}

.side span {
  display: inline-block;
  float: left;
  padding-top: 10px;
}


.side img {
	float: left;
	display: inline-block;
	margin-right: 10px;
}


#sidebar-nav .icon-angle-left {
	display:  none;
}

#sidebar-nav .active .icon-angle-left {
	display: none;
	float: right;
	color: white;
	font-size: 1.2em;

}

.char-port {
	border: 1px solid gray;
	background-color: white;
}

#sidebar-nav {
	min-width: 250px;
	z-index: 10;
}

