#header{
	text-align: center;
	font-size: 3em;
}

#viewCombo_comboname{
	border-bottom: 5px solid black;
}

#dividingRow{
	height: 20px;
}

#infoContainer{
	border: 1px solid black;
	padding: 30px;
	background-color: #222;
}

#innerInfoContainer{
	background-color: #fff;
	height: 100%;
    padding: 20px;
}

.comboInfo{
	padding: 10px;
}

#graphicalInput{
  background-color: yellow;
  border: 1px solid black;
  padding: 5px;
}

#textInput{
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
  font-size: 1.2em;
}

#disqus_thread {
    border: 1px solid black;
    padding: 10px;
}
