	<!-- Navigation -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
			  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="brand" id='brand' href="/p4u"><img src="/static/img/logo/logo2.png" id='logo' /></a>
			  <div class="nav-collapse collapse">
        {% if user.is_authenticated %}
        <div>        
          <p id='welcome'><span>Welcome, <b>{{user.username}}</b></span></p>
          <p id='myMenu'>
            <span id='myCombos'><a href='/p4u/myCombos'>My Combos</a></span>
            |
            <span><a href='/p4u/'>All Combos</a></span>
            |
            <span id='logout'><a href='/logout/'>Logout</a></span>
          </p>
        </div>
        {% else %}
				<form class="navbar-form pull-right" id='loginForm'>
				  <input class="span2" name='username' type="text" placeholder="Username">
				  <input class="span2" name='password' type="password" placeholder="Password">
				  <button type="submit" class="btn">Sign in</button>
      {% csrf_token %}
				</form>
        {% endif %}
			  </div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal hide fade" id='loginModal'>
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Sign In</h3>
		
   	  </div>
	  <div class="modal-body">
		<form id='existing_login'>
		  <fieldset>
			<legend>Existing Users</legend>
			<label>Username</label>
			<input type="text" placeholder="joe123" name="username">
			<label>Password</label>
			<input type="password" placeholder="joe123" name="password" >
			<button type="submit" class="btn btn-primary">Login</button>
	    <span id='login_error'></span>	
		  </fieldset>
      {% csrf_token %}
		</form>
		
		<form id='signup'>
		  <fieldset>
			<legend>New Users</legend>
			<label>Username</label>
			<input type="text" placeholder="joe123" name='username'>
			<label>Password</label>
			<input type="password" placeholder="joe123" name='password'>
			<button type="submit" class="btn btn-primary">Signup</button>
	    <span id='signup_error'></span>	
		  </fieldset>
      {% csrf_token %}
		</form>
	  </div>

	</div>


