<html>
  <head></head>
  <body>
    {% if combo %}
    <p>Combo #{{combo.id}}</p>
    <table>
      {% for field,value in combo_data %}
        <tr>
          <td>{{ field }}</td>
          <td>
            {% if field == 'combo_input' %}
              {% for input in combo_input %}
                {{ input }}
              {% endfor %}
            {% else %}
              {{ value }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>

    {% else %}
    <p>error no combo</p>
    {% endif%}

  </body>

</html>
